@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

:root {
  --square-size: min(7dvh, 7dvw);
  --board-box-border: 2px;
  --label-size: calc(var(--square-size) / 2);
  --board-box-size: calc(
    var(--square-size) * 8 + var(--label-size) * 2 + var(--board-box-border) * 2
  );
  --board-size: calc(var(--square-size) * 8 + var(--board-box-border) * 2);
  --checker-size: calc((var(--square-size) * 2) / 3);
  --font-size-base: min(2dvh, 2dvw);
}

html {
  font-size: var(--font-size-base);
}
h1 {
  @apply text-2xl font-bold text-amber-300 text-center;
}
